
*{
    margin: 0;
    padding: 0;
}
body
{
	background-color:#f7f7f7;
	font-family:Arial, Helvetica, sans-serif;
}
.container
{
	width:1170px;
}
.banner_menu
{
	background-color:#dcb709;
	height:70px;
	line-height:70px;
}
.banner_menu p
{
	margin-top:-6%;
	margin-left:6%;
}
.banner_menu .img_bannertop
{
	padding-left:28%;
	width:68%;
	margin-top:-1.5%;
}
.banner_menu h2
{
	margin-left:-8%;
	margin-top:-0.08%;
	margin-bottom:3.5%;
	font-style: italic;
	letter-spacing: 2px;
	font-family: 'Lobster', cursive;
	color:#FFF;
}

.banner_menu p
{
	margin-left:4%;
	font-size:30px;
	font-style: italic;
	letter-spacing: 2px;
	font-family: 'Lobster', cursive;
	color:#FFF;
}
.banner_menu a
{
	text-decoration:none;
	color:#FFF;
}
.baner_chu
{
	margin-left:-8%;
}
.baner_chu a
{
	padding-left:2%;
	padding-top:2%;
	font-family: 'Shadows Into Light', cursive;
}
.menu_mainTC1
{
	background-color:#7e3032;
	height:50px;
	line-height:50px;
	float:left;
	width:100%;
}
.menu_mainTC1 a
{
	text-decoration:none;
	color:#Fff;
	font-size:20px;
}
.menu_mainTC1 li a
{
	font-family: 'Leckerli One', cursive;
}
.menu_mainTC1 li
{
	padding-left:1.4%;
}
#nav{
    display: flex;
}
#nav li {
    list-style-type: none;
    margin: 0;
    float: left;
    position: relative;
    flex: auto;
    text-align: center;
}
#nav a {
    display: block;
    margin: 0;
    background-color: #7e3032;
    text-decoration: none;
}
#nav ul {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 215px;
}
#nav ul ul {
    left:98.35%;
    top: 0%;
	width: 300px;
}
#nav li:hover > ul {
    display: block;
}
#nav ul li {
    float: none;
}

.sliding-u-r-l {
    display: inline-block;
    position: relative;

}
 
.sliding-u-r-l:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 6px;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
 
.sliding-u-r-l:hover:after {
    width: 98%;
    background:#FC6;
}
/**/
.banner_sp1 img
{
	width:100%;
	padding-top:1%;
    border-radius: 8px;
}
.banner_sp1 p
{
	padding-left:18%;
	margin-top:-12%;
	color:#fff;
	font-size:18px;
}
.banner_sp_trai p
{
	padding-top:1%;
}
.banner_sp_trai a
{
	text-decoration:none;
	color:#165809;
}
.banner_sp_trai #sp_cd1 a
{
	color:#0C6;
}
.row .slider1 	
{
	padding:0px;
}
.dong_sp
{
	width:100%;
	height:400px;
	margin-top:3%;
	border:8px solid #FFF;
	background-color:#fff;
	margin-bottom:3%;
	margin-left:-6%;
	-moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
   
}	
.banner_sp_trai #sp_cd
{
	width: 220px;
    float: left;
    border-bottom: dotted 1px black;
	padding-top:5%;
	padding-left:10%;
	color:#666;	
}
.banner_sp_trai #sp_cd1
{
	width: 220px;
    float: left;
    border-bottom: dotted 1px black;
	padding-top:5%;
	font-size:16px;
	color:#00F;		
}
.gio_hang
{
	width:100%;
	height:245px;
	margin-top:3%;
	border:8px solid #FFF;
	background-color:#fff;
	margin-bottom:3%;
	margin-left:-6%;
	-moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
 
}
.img_giohang
{
	text-align:center;
}
.hotro_khach_hang{
	width:100%;
	height:120px;
	margin-top:3%;
	border:8px solid #FFF;
	background-color:#fff;
	margin-bottom:3%;
	margin-left:-6%;
	-moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    
}
.htkh 
{
	font-size:13.4px;
	padding-top:2%;
}
.htkh1 p
{
	padding-top:5%;
}
.luong_truy_cap
{
	width:100%;
	height:290px;
	margin-top:3%;
	border:8px solid #FFF;
	background-color:#fff;
	margin-bottom:3%;
	margin-left:-6%;
	-moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    
}
.ltc1
{
	text-align:center;
}
.trà_suckhoe
{
	width:100%;
	height:640px;
	margin-top:3%;
	border:8px solid #FFF;
	background-color:#fff;
	margin-bottom:3%;
	margin-left:-6%;
	-moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;

}
.tra_sk1
{
	padding-top:4%;
}
.tra_sk1 a
{
	text-decoration:none;
	color:#000;
}
.tra_sk1 a:hover
{
	color:#00F;
}
/* phan tren la menu + sp + thanh bên trái màng hình */
/* phần bên phải là sp noi bat + trà biếu cao cap */
.san_pham_noi_bat
{
	width:103.8%;
	height:100%;
	margin-top:0.8%;
	border:8px solid #FFF;
	background-color:#fff;
	margin-bottom:3%;
	margin-left:-2%;
}
.sp_nb_img p
{
	margin-top:-3.5%;
	margin-left:9%;
	font-size:15pt;
	color:#165809;
}
.sp_nb_img a
{
	color:#3c763d;
	text-decoration:none;
	font-size: 22px;
}
.sp_nb1 /* chổ này là khung trong mục SP_Nổi Bật*/
{
	width:100%;
	height:125px;
	border:4px solid #000;
	background-color:#fff;
	padding-top:1%;
	margin-bottom:3%;
}
#sp_chu1
{
	margin-left:-4%;
	font-size:20px;
}
#sp_chu1 a
{
	text-decoration:none;
	color:#00F;

}
#sp_chu2
{
	margin-left:-4%;
	font-size:18px;
	color:#F00;
}
#sp_chu3
{
	margin-left:-4%;
	margin-right:5%;
	font-size:16px;
	border:2px solid #FC0;
	height:30px;
	line-height:30px;
	background-color:#FC0;
	width:84px;
}
#sp_chu3 a
{
	text-decoration:none;
	color:#fff;	
}
#sp_chu4
{
	font-size:16px;
	border:4px solid #FC0;
	background-color:#FC0;
	width:18%;
	height:30px;
	line-height:25px;	
}
#sp_chu4 a
{
	text-decoration:none;
	color:#fff;	
}
.sp_nb2
{
	width:100%;
	height:125px;
	border:4px solid #000;
	background-color:#fff;
	padding-top:1%;
	margin-bottom:3%;
}
#sp_chu3_bt
{
	margin-left:-4%;
	margin-right:5%;
	font-size:16px;
	border:2px solid #FC0;
	height:30px;
	line-height:30px;
	background-color:#FC0;
	width:21%;
}
#sp_chu3_bt a
{
	text-decoration:none;
	color:#FFF;
}

/* phần duoi la footer 1 2 3 */
.footer1
{
	background-color:#dcdada;
	height:60px;
	line-height:60px;
	text-align:center;
	border:2px solid #dcdada;
}
.footer1 img
{
	margin-bottom:2.5%;
}
#ft_chu
{
	padding-left:2.5%;
	font-size:20px;
}
#ft_chu a
{
	text-decoration:none;
	color:#630;
}
#ft_chu a:hover
{
	color:#ffF;
}
.footer2
{
	background-color:#7e3032;
	height:100%;
	line-height:100%;
	border:2px solid #7e3032;
	color:#fff;
}
.footer2 h4
{
	padding-left:14%;
	padding-top:3%;
}
.footer2 p
{
	padding-left:14%;
	font-size:14px;
}
#ft2_right
{
	padding-left:12%;
}
.footer2 p a
{
	color:#FFF;
	text-decoration:none;
}
.footer2 p a:hover
{
	color:#165c00;
}
.footer3
{
	
	background-color:#dcb709;
	line-height:40px;
	text-align:center;
	border:2px solid #dcb709;
	color:#fff;
	font-size:18px;
}
#ft_trai
{
	padding-left:25%;
}
#ft3_giua
{
	padding-left:25%;
	font-size:17px;
}
#ft3_phai
{
	padding-left:5%;
	font-size:17px;
}
#ft3_giua a
{
	text-decoration:none;
	color:#FFF;
}
#ft3_giua a:hover
{
	color:#000;
}
#ft3_phai a
{
	text-decoration:none;
	color:#FFF;
}
#ft3_phai a:hover
{
	color:#000;
}
.tt_lh
{
	font-size:17px;
	color:#3c763d;
	padding-left:2%;
}
.tt_lh1
{
	padding-left:2%;
}
.tt_lh h3
{
	color:#093;
}
#chu_tt_lh
{
	color:#000;
}
#cach_lh
{
	margin-left:10%;
	color:#000;
}
#cach_lh1	
{
	margin-left:7.2%;
	color:#000;
}
#cach_lh2	
{
	margin-left:12.5%;
	color:#000;
}
#cach_lh3	
{
	margin-left:9%;
	color:#000;
}
#cach_lh4	
{
	margin-left:10.5%;
	color:#000;
}
#cach_lh5	
{
	margin-left:12.5%;
	color:#000;
}
.form_khung
{
	margin-left:50%;
	margin-top:10%;
}
.form_chu
{
	/*padding-top:8%;*/
        height: 50px;
	color:#3c763d;
	font-size:18px;
}
.ban_do
{
	width:103.8%;
	height:530px;
	margin-top:0.8%;
	border:8px solid #FFF;
	background-color:#fff;
	margin-bottom:3%;
	margin-left:-2%;
}
